<header>
  <h1>Monsters live amongst us!</h1>
</header>
<main>
  <section>
    <header>
      <h2>In just the past month these creatures were spotted living in our houses!</h2>
    </header>
    <article>
      <header>
        <h3>The Moat Monster</h3>
        <figure>
          <img src="/images/monsterdog.JPG" alt="Moat monster attacking.">
          <figcaption>Test</figcaption>
        </figure>
        <button class="btn btn-primary">Report Moat Monster Sighting</button>
      </header>
    </article>
  </section>
</main>
